/* --- 共通リセット＆設定 --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    width: 100%;
    background-color: #F8F8F8;
}

/* --- ヘッダー --- */
.header {
    width: 100%;
    padding: 10px 20px;
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.header-title {
    font-family: 'Italianno', cursive;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    color: #F5C800;
}

/* --- メインコンテンツ共通設定 --- */
.main-content {
    width: 100%;;
    margin: 70px 0 0 0;
    background: #F8F8F8;
}